/* 
color pallete reference link: https://colorpalettes.net/color-palette-3797/

dark orange: #de6600
gold yellow: #fea02f
cream: #ebd9c8
teal: #007a7a
dark Blue: #003f5a


*/



ul#index{
    padding-left:0;
    list-style-type: none;
}

#message{
    height: 15em;
}

a {
    text-decoration: underline;
    color: #de6600;
}



page-item{
    text-decoration: underline;
}

#menu a{
    text-decoration:none;
    color: #007a7a  ;
    font-weight: bold;
}
#menu a:hover{
    display: inline-block;
    
 
    
    
}
.cool-link::after{
    content:'';
    display:block;
    width:0;
    height: 2px;
    background:#003f5a;
    
}
.cool-link:hover::after{
    width: 100%;
    transition:width .3s
}







#categories {
    font-size: 16px;
    text-align: left;
    padding-left: 25px;
  

}

time{
    font-size: 16px;
    color: #1e4845;
    padding-left: none;
    font-weight: bold;
    
    
}

nav li a{
	
	text-decoration:none;
	list-style-type: none;	
	font-weight:bold;	
	text-transform: uppercase;
    color:#364C23;
    margin-bottom:20px;
  
}
nav a:hover{
	
	color:#1e4845;
    background-color:#fd9937;
    border-radius:10%;
}


h2 a:hover{
    color:#1e4845;
    background-color:#aebfbe;   
}
h2 a{
    color: black;
    text-decoration:none;
}
h2 {
    color:red;
}




p {
	font-size: 18px;
	font-family: "Poppins", sans-serif;
	color: black;
	font-weight: 400;
	line-height: 25px;
    margin: 0 0 15px 0;
    text-align: justify;
    text-indent:35px;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

#aTitle {

    text-align: left;
    color:#5d706f;
    box-shadow: 2px 5px 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
      
}







